// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

// Fonts
$linkSize: 16px;

$TitleFontSize: 54px;
$miniTitleSize: 52px;
$DescroptionFontSize: 16px;
$TabletTitleFontSize: 40px;
$MobileTitleFontSize: 25px;

$btnTxtSize: 20px;

// $statsNumFontSize: 58px;
// $statsDescriptionFontSize: 14px;


// Colors
$noneWhiteBackground: #F4F6F8;
$mainColor: #FA002C;
$btnTxtColor: #fff;